@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DiaryManagement.Application.Dtos.CategoryDto;
@{

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Add Category";
}



<div class="row justify-content-center mt-5">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>Add new category</h3>
            </div>
            <form class="card-body card-block" method="post" asp-area="Admin" asp-controller="Admin"
                asp-action="AddCategory">
                <div class="has-success form-group">
                    <label for="inputSuccess2i" class=" form-control-label"><strong>Category Name:</strong></label>
                    <input asp-for="CategoryName" type="text" id="inputSuccess2i" placeholder="input...."
                        class="form-control-success form-control">
                    <span class="text-danger" asp-validation-for="CategoryName"></span>
                    <span class="text-danger">@ViewBag.AddCateMsg</span>
                </div>

                <div class="text-center">
                    <!-- Center the button -->
                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>