@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<DiaryManagement.Core.Entities.Category>;
@{

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Category";
    int order = 0;
    var parms = new Dictionary<string, string>();
    parms.Add("categoryId", "");

}

<div class="col">
    <a class="btn btn-outline-primary rounded mb-3" role="button" asp-area="Admin" asp-controller="Admin"
        asp-action="AddCategory">
        Add new category
    </a>
    <div class="card">
        <div class="card-header">
            <strong class="card-title">All Categories</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        order++;
                        parms["categoryId"] = category.CategoryId;
                        <tr>
                            <th scope="row">@order</th>
                            <td>@category.CategoryName</td>
                            <td>
                                <a class="btn btn-outline-success rounded" role="button" asp-area="Admin"
                                    asp-controller="Admin" asp-action="EditCategory" asp-all-route-data="parms">
                                    Edit
                                </a>
                                <a class="btn btn-outline-danger rounded" role="button" asp-area="Admin"
                                    asp-controller="Admin" asp-action="RemoveCategory" asp-all-route-data="parms">
                                    Remove
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>