<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="Writer" content="" />
    <title>Tell Ya - @ViewData["Title"]</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/search-bar/main.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">
        <!-- header section strats -->
        <header>
      <div class='container container-flex'>
          <a asp-controller="Home" asp-action="Index">

          <div class='site-title'>
          <h1>Tell Ya Blogg</h1>
          <p class='subtitle'>A blog exploring minimalism in life.</p>
        </div>
          </a>
          <nav>
              <ul>
                  @{
                      var parms = new Dictionary<string, string>();
                      parms.Add("categoryId", "All");
                      parms.Add("orderByName", "ASC");
                      parms.Add("keyword", " ");
                      parms.Add("page", "1");
                  }
                  <li> <a asp-controller="Home" asp-action="Index" class='current-page'>Home</a> </li>
                  <li> <a asp-controller="Home" asp-action="AboutUs">About Me</a> </li>
                  <li> <a asp-controller="Home" asp-action="AllDiarys" asp-all-route-data="parms">Recent Posts</a> </li>

              </ul>
              <div class="quote_btn-container ml-5 float-right">
                  <partial name="_LoginPartial" />
                  <a><i class="fa fa-user" aria-hidden="true"></i></a>
              </div>
          </nav>
      </div>
    </header>
        @RenderBody()
    </div>
    
     
    <!-- footer section -->
    <footer class="footer_section bg-primary">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">Tell Ya</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>